@import 'Utility/Utility';
@import 'Footer/Footer';
@import 'Form/Form';
@import 'Header/Header';
@import 'Main/Main';
@import 'Register/Register';
@import 'Slider/Slider';
@import 'Tabs/Tabs';
@import 'Text/Text';
@import 'Type/Type';
@import 'Users/Users';
@import 'Progress/Progress';

// font-family: 'Source Sans Pro', sans-serif;
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900';



@diameter:91px;
@gray:#e7e8e8;
@progress: 133;
@orange:#ffa352;
@border:17px;