.Text {
	
	&-form {
		color: #666666;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 48px;
		margin: 0;
		padding-right: 54px;

		&--looking {
			padding-left: 25px;
			padding-right: 0;
			position: relative;

			&::before {
				position: absolute;
				content: '';
				display: block;
				width: 16px;
				height: 15px;
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABZUlEQVQ4T3WSwVXCQBCG/4HsPm9gB1iBdGDoQCoQKxAObF5ucorZHEIHPCsQKxArMHSAFYg3n5Csb8KGRxYzt2Tn+/ef+ZfQUFrrEYA7A/QBbAFkMGYZBMFzhZDLaq37BljgAJ0VASshxHAymWxrcJqm3d/d7gNAD8A3AWO+MSfqtorCBxF/d1hAKTWowU9azwl4APApheiz+unV1tXKCtzX4Fhrbu4URINwOuWms4qTZAxjUgDvR9iqsmUESp3tolI57fsP3gRKXTWlYPfyxeeubcM/pRCX7ryVWBzHtyB64b24MM95A2AZKDVsmJnzvoYxsxocJYnfMuathIyZSylnlYMoinrtdnthAJ9jlEL0jrCdhUH3cWQAujZ7luX8faVUVsI1kGiNoni0D4JHOBYBr3mej8Mw3JQLc0HpeX5llc9+9vvSyYXnZe4SKdb6sCSi9SnYFFXNCYcO4FEIMWqKp0noD1tuofjXWGEsAAAAAElFTkSuQmCC
					) 50% 50% no-repeat;
				background-size: contain;
				left: 3px;
				top: 17px;
			}
		}
	}
	
	&-nameSect {
		font-size: 31px;
		color: #4e4e4e;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		line-height: 22px;
	}

	&-sub {
		color: #4e4e4e;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		line-height: 22px;
		font-size: 14px;
		padding-right: 9px;
		
		&--photo {
			float: left;
    		border-radius: 50%;
    		width: 173px;
			height: 173px;
			shape-outside: circle(50%);
			clip-path: circle(50%);
		}
	&--column {
		-webkit-column-width: 285px;
	    -moz-column-width: 285px;
	    column-width: 285px;
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	    -webkit-column-gap: 33px;
	    -moz-column-gap: 33px;
	    column-gap: 33px;
	}
	}
	
}