.Text {
	position: relative;

	&-form {
		color: #666666;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 48px;
		margin: 0;
		padding-right: 54px;

		&--looking {
			padding-left: 25px;
			padding-right: 0;
			position: relative;

			&::before {
				position: absolute;
				content: '';
				display: block;
				width: 16px;
				height: 15px;
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABZUlEQVQ4T3WSwVXCQBCG/4HsPm9gB1iBdGDoQCoQKxAObF5ucorZHEIHPCsQKxArMHSAFYg3n5Csb8KGRxYzt2Tn+/ef+ZfQUFrrEYA7A/QBbAFkMGYZBMFzhZDLaq37BljgAJ0VASshxHAymWxrcJqm3d/d7gNAD8A3AWO+MSfqtorCBxF/d1hAKTWowU9azwl4APApheiz+unV1tXKCtzX4Fhrbu4URINwOuWms4qTZAxjUgDvR9iqsmUESp3tolI57fsP3gRKXTWlYPfyxeeubcM/pRCX7ryVWBzHtyB64b24MM95A2AZKDVsmJnzvoYxsxocJYnfMuathIyZSylnlYMoinrtdnthAJ9jlEL0jrCdhUH3cWQAujZ7luX8faVUVsI1kGiNoni0D4JHOBYBr3mej8Mw3JQLc0HpeX5llc9+9vvSyYXnZe4SKdb6sCSi9SnYFFXNCYcO4FEIMWqKp0noD1tuofjXWGEsAAAAAElFTkSuQmCC
					) 50% 50% no-repeat;
				background-size: contain;
				left: 3px;
				top: 17px;
			}
		}
	}
	
	&-nameSect {
		font-size: 31px;
		color: #4e4e4e;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		line-height: 22px;
	}

	&-sub {
		color: #4e4e4e;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		line-height: 22px;
		font-size: 14px;
		padding-right: 9px;
		
		&--photo {
			float: left;
    		border-radius: 50%;
    		width: 173px;
			height: 173px;
			shape-outside: circle(50%);
			clip-path: circle(50%);
		}
		&--column {
			-webkit-column-width: 285px;
		    -moz-column-width: 285px;
		    column-width: 285px;
		    -webkit-column-count: 3;
		    -moz-column-count: 3;
		    column-count: 3;
		    -webkit-column-gap: 33px;
		    -moz-column-gap: 33px;
		    column-gap: 33px;
		}
	}
	
	&-subSlider {
		color: #ffffff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: 300;


		&--smile {
			position: absolute;
			content: '';
			display: block;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABYElEQVQ4T52TIU9DQRCEv1XgQOLAgQOJQ4IDBw4kDsvPAFlHZWVdcdS1Dhx1leAqizryNXcv1xdKCZu8tLm7nZ2dnQ1akVLaBA6BPWAH2AY+8jeNiLd2TtQHKaUD4BwQaFUI2I8IfxfRgKSUjoHTX5LrqznQi4hpA5IZXP4RoDwTqBMRs8ga3OUWvoABMANktl8BDwErq9VJPlejriBHWQfP+/nSZP/fAlvAGBgBu8AEOMvi+/xRkKuqYrdi0MmPTZSBk1Jw21BUGRnPgtzkCh68ZwaO1bheMynfjAW5Bzaq3tXDr1Rep/ekzWRdwk/3Q0EuKpH+A9IXRIHs3bCNMqFVgIpbPKUlHhaObYmrpV9XIbSYDyPipYA4DT1RBB5EhN5oIpvStdBXxifwFBHzenechuMuQLbmyPWFRVzOspgNgGjtLfZR7cZ2V2owsoX6YgmkXGTqVpZB7VJ3RWZL8Q2FjnxdJOSfcAAAAABJRU5ErkJggg==
				) 50% no-repeat;
			width: 17px;
			height: 17px;
			opacity: 0.5;
			bottom: -10px;
			left: 10px;

			&:hover {
				opacity: 1;
			}
		}
		&--add {
			position: absolute;
			content: '';
			display: block;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAABI0lEQVQ4T4WUDVEDMRCFv+cAFEAVFAdQBeAAJBQFUAWAAkABOIAqABRQB+BgmXeTHHe5pLcznc5kk7fvJzlRqYg4Ae6As9T+Ba4lPZXbVS5ExAHwDfi/rJWk9+FiDeACeKkxA54lXc0B3AI3DYCtpCyr21JjsE76axg7SYs5Bq/AeYOBlxeSdrlfY+AEDHJUAXmQZIZ9TQDciQjrfCsAJvqrHuRDEWGaQxaTCJsAEeGoHgsGG0lOaFQjCYm6DRzpTCc26XItga/sRQeQbp8128BWGcDenAK9HxnAd/yycfIQ8FTXfRrymVkqTf/ZM3lVSeQ/xkZkQ7xZAOv+aDGQ1BsdEX6JVQ+OAUeXH4o3lWWfPMy/sYl79I9a6X54mB9V93H5AwjmY0dyHunwAAAAAElFTkSuQmCC
				) 50% no-repeat;
			width: 17px;
			height: 17px;
			opacity: 0.5;
			bottom: -10px;
			right: 10px;

			&:hover {
				opacity: 1;
			}
		}
	}
	&-subOrange {
		color: #ffa352;
		line-height: 16px;
		padding-left: 20px;
		display: inline-block;
		position: relative;
		font-size: 14px;

		&::before {
			position: absolute;
			content: '';
			display: block;
			width: 3px;
			height: 100%;
			background: #ffc28c; 
			top: 0;
			bottom: 0;
			left: 2px;
		}
	}
	
	&-subNumber {
		color: #a3a3a3;
		font-size: 11px;
		line-height: 22px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		line-height: 22px;
		font-size: 11px;
	}

	&-subQutes {
		font-weight: 300;
		line-height: 16px;
		padding-left: 25px;
		padding-right: 25px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-style: italic;
		display: inline-block;
		position: relative;
		font-size: 14px;
		color: #a3a3a3;

		&::before {
			position: absolute;
			content: '';
			display: block;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAABBElEQVQ4T32S0XGDMBBEb+nALTgN6ERKcEpISohLiEswJcQl2CUkLYA0/CeVAPIcY2k08gm+QLzbW3YBFdc4jvtpmq4AOma+le/lOWeQA33ft03T/BDRjohuzPxRCpRMEhDVeZ5leA/gZIzpNHclkwScczJ8IKILMx816xqzCnjvP0MI30T0z8wv2nCNWQWcc39iPYTwZq39rWxXGQzDcAAg9qvbtxgROAP4CiF01tqTtn2LgXPuSkTvteQfn1hlRGBNH8DRGHPZSl9jRGANJw5q0BaTHOSbl2V5bdu2j2dZ/wmLTMogFyhdxJw0Jq/xST0eZDU+O3j8iVLjWe5rbXjvVeYOa7TD6fOlWNAAAAAASUVORK5CYII=
				) 50% 50% no-repeat;
			top: 1px;
			left: 1px;
			width: 16px;
			height: 15px;
		}
		&::after {
			position: absolute;
			content: '';
			display: block;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAA/ElEQVQ4T4WT21EDMQxFdUughfAve4aUQEogJSwlJCUkJYQSoARSAszY+s+2QAlinLF3tF4t7J/X5x4/JIPql1I6ADiVoaoeY4znNvcXgzIpIk+q+mUDAHbMfG3/1pgmGFT1YgWqeo4xHo3AZZrgWVU/uy1fQwg7I3CZu6Aeo19hJlhjJoEjWgg8ZiEw1fgIIez7SpSxZTzBCcBhrZRVMDELQc75RkQbAFtm/vZ2YJmZQETaTY8hhEcv3DO2Cg+1mcrqr8z81gtEZMFMgpzzOxG9ENHq5XnMXZBSugAYiGisZ/9x3oHLoAuX/h//Cc8YiEjpwAHA3gubDnSZX1jK0/nO15c+AAAAAElFTkSuQmCC
				) 50% 50% no-repeat;
			bottom: 0;
			right: 1px;
			width: 16px;
			height: 15px;
		}
	}

	&-subLink {
		color: #ffb575;
		font-family: "Source Sans Pro";
		font-weight: 300;
		line-height: 22px;
		text-decoration: underline;
		font-size: 14px;
		text-align: right;
		position: relative;
		padding-left: 15px;

		&::before {
			position: absolute;
			content: '';
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAYAAADaxo44AAAAXklEQVQYV2P8f7TLgNG67AIDGmD8f6jnPwMDwwKGv8yFjI6FH2DyMAkQ/wPDf4YGRvuSiSAOsgRM8QMGxv+J2CQeMjD+T0CW+MjA8L+B0a50ArJRCxn+MhegWo7DuQA1Ai8jxfNAKQAAAABJRU5ErkJggg==
				) 50% 50% no-repeat;
			top: 7px;
			right: 135px;
			width: 6px;
			height: 8px;
		}
	}

	&-subFooter {
		width: 196px;
		height: 52px;
		color: #4e4e4e;
		font-family: "Source Sans Pro";
		font-size: 20px;
		font-weight: 300;
		text-align: right;
		margin-bottom: 0;

		span {
			color: #cfcfcf;
		}

		&--year {
			color: #cfcfcf;
			font-size: 31px;
			margin-top: 0;
		}
	}
}