.u-wrapper, .u-width100 {
	width: 100%;
}
.u-width960{
	width: 960px;
}
.u-width60proc{
	width: 60%;
}
.u-width50proc{
	width: 50%;
}
.u-width40proc{
	width: 40%;
}
.u-padding10{
	padding-right: 10px;
	padding-left: 10px;
}
.u-paddingForm{
	padding-left: 22px;
	padding-right: 42px;
}
.u-flexStart{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
.u-flexEnd{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: center;
}
.u-flexCenter{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.u-flexSpace {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.u-ciclePhoto {
	border-radius: 50%;
}
.u-paddingTop170 {
	padding-top: 185px;
}





.ui-state-default, .ui-widget-content .ui-state-default {
	width: 22px!important;
	height: 27px!important;
	background: url('../img/001.png')!important;
	border: 0!important;
	outline: none;
	cursor: pointer!important;
	}

.ui-slider .ui-slider-range {
	width: 82px;
	height: 14px;
	background-color: #ffd40d;
	background-image: linear-gradient(to top, #ff891f 0%, #ffae02 100%);
}
