.u-wrapper, .u-width100 {
	width: 100%;
}
.u-width960{
	width: 960px;
}
.u-width50proc{
	width: 50%;
}
.u-padding10{
	padding-right: 10px;
	padding-left: 10px;
}
.u-paddingForm{
	padding-left: 22px;
	padding-right: 42px;
}
.u-flexStart{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
.u-flexEnd{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: center;
}
.u-flexCenter{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.u-flexSpace {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.u-ciclePhoto {
	border-radius: 50%;
}
.u-paddingTop170 {
	padding-top: 185px;
}
